div.menu
	a(href='/')
		img(src='/img/design/logo.png', width='60%')
	br
	br
	br
	a(href='/') Главная
	br
	br
	a(href='/history') История создания
	br
	br
	- if (session.user_id)
		a(href='/auth/view') Телевизоры
		br
		br
	a(href='/links') Ссылки
	br
	br
	a(href='/about') О сайте
	br
	br
	br
	- if (session.user_id)
		a(href='/logout') Выход
	- else
		a(href='/login') Вход
		|&nbsp;|&nbsp;
		a(href='/registr') Регистрация