extends ../layout

block content
	h2 Редактировать
	form(method='post')
		|Название:
		br
		input(type='text', name='title', value= item.title)
		br
		br
		|Описание:
		br
		textarea(name='description', cols="40", rows="3")= item.description
		br
		br
		|Изображение:
		br
		input(type="file", name="img1")
		br
		br
		input(type='submit', value='Отправить!')