extends ../layout

block content
	h2 О сайте
	p Никакая другая среда не вызвала большую глобализацию культуры и столь впечатляющего изменения способа, которым люди воспринимают мир вокруг себя, как телевидение. Научная концепция, положенная затем в основу телевидения, появилась уже в конце 19-го века в виде теоретических дискуссий и практических экспериментов. Главный принцип действия телевидения был предложен в 1880 году независимо двумя учеными, американцем В. Е. Сойером и французом Морисом Лебланом. Принцип заключался в быстром сканировании каждого элемента изображения последовательно, строка за строкой и кадр за кадром.
	p За этим последовала имеющая решающее значение разработка простого и эффективного метода механического сканирования изображения. Его запатентовал в 1884 году немецкий инженер Пауль Готтлиб Нипков. Между 1900 и 1920 годами были сделаны важные усовершенствования технологии, влючая создание первого кинескопа, изобретение метода усиления электронных сигналов, а также были описаны теоретические принципы сканирования изображений электронным лучом.
	p В 1922 году шотландский инженер Джон Лоджи Бэрд начал разрабатывать телевизионное оборудование и тремя годами позднее смог передать первые распознаваемые изображения человеческих лиц. В 19 году в Королевском Институте в Лондоне Бэрд продемонстрировал первую действующую телесистему, передающую движущиеся изображения. В конце 1920-х Дженерал Электрик стал пионером в производстве телевизоров по технологии, разработанной в собственной научно-исследовательской лаборатории Эрнестом Александерсоном.


